model_config_list: {
  config: {
    name: "coco_model",
    base_path: "<PATH_TO_PROJECT>/ZoraOD/Models/coco_model",
    model_platform: "tensorflow"
  },
  config: {
    name: "pets_model",
    base_path: "<PATH_TO_PROJECT>/ZoraOD/Models/pets_model",
    model_platform: "tensorflow"
  },
  config: {
    name: "people_model",
    base_path: "<PATH_TO_PROJECT>/ZoraOD/Models/people_model",
    model_platform: "tensorflow"
  },
}



